@media screen and (min-width: 600px) {
   .head {
	    width: 35%;
	    padding-bottom: 10px;
	    margin-left: 8px;
	    display: inline-block;
	    padding-top: 10px;
	}
	
	.pendingbox{
		width:25% !important;
	}
	
	.resume{
		width:60% 60% !important;
	}
}
@media screen and (min-width: 1024px) {
}
/*.juci_panel_title .actionbutton {
    background: #0b4daa;
    color: #ffffff;
    vertical-align: bottom;
}

.juci_panel_title .abtnholder {
    width: 100%;
}*/

/*.juci_panel_title .abtnholder {
    display: table-cell;
    height: 45px;
    width: 30px;
    vertical-align: middle;
    horizontal-align:right;
    padding: 0px 2px;
    background-color: #0b4daa;
    color:white;
}
*/
/*.juci_panel_title .title {
    display: table-cell;
    margin: 0px;
    max-width: 100%;
    right: 65px;
    vertical-align: middle;
    background-color: #0b4daa;
}*/

div#tgl {
    margin: 0px;
    height: 104px;
    margin-left: -6px;
    margin-right: 266px;
    background: #fff;
}

/*
button.juci_button.btn1 {
    height: 100px;
    width: 24%;
    font-size: 12pt;
    vertical-align: top;
    background: #fff;
    border: none;
} */


.filter_scroll {
    /* position: fixed; */
    display: block;
    width: 100%;
    vertical-align: middle;
    background: #ebebeb;
    /* margin-bottom: 50px; */
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12) !important;
}

.stick {
    position: fixed;
    z-index: 3;
    top: 48px;
}
button.juci_button.btn2 {
    height: 54px;
    width: 32%;
    font-size: 12pt;
    vertical-align: middle;
    background: #0b4daa;
    border: none;
    margin-top: 17px;
    color: white;
}


.juci_togglebar .juci_button.toggled {
    background: #fff;
    border-bottom: 4px solid #0B4DA1;
}

span.pending {
	font-size: 50px;
    display: block;
    color: #9D9D9D;
}

span.approved {
	font-size: 50px;
    display: block;
    color: #9D9D9D;
}

span.rejected {
	font-size: 50px;
    display: block;
    color: #9D9D9D;
}

span.inprocess {
	font-size: 50px;
    display: block;
    color: #9D9D9D;
}

span.all {
	font-size: 50px;
    display: block;
   color: #9D9D9D;
}

span.notifctn {
	padding-top: 20px;
	color:#565656;
	display: block;
}

.adisplay {
	display:none;
}

.rdisplay {
	display:none;
}

.ipdisplay {
	display:none;
}

.aldisplay {
	display:none;
}

.cell {
    display: inline-block;
    padding-bottom: 10px;
}

.pstatus {
	color: #f9a840;
	position : relative;
	margin-right: 15px;
	margin-top: 6px;
	font-weight: bold;
}

.astatus {
	color: #E8BD55;
	position : relative;
	margin-right: 15px;
	margin-top: 6px;
}

.rstatus {
	color: #D04949;
	position : relative;
	margin-right: 15px;
	margin-top: 6px;
	font-weight: bold;
}

.ipstatus {
	color: #77A543;
	position : relative;
	margin-right: 15px;
	margin-top: 6px;
	font-weight: bold;
}

.bold {
	font-weight:bold;
}

.juci_panel.panel_shown {
    background: #ebebeb;
}

.row {
 /*   border-bottom: #f2f2f2 1px solid; */
    margin-left: 8px;
    width: 97%;
}

.lstcell{
	color:#70A1DE;
	padding-top:3px;
	padding-bottom:5px;
	font-weight: bold;
}


.head {
   width: 35%;
    padding-bottom: 10px;
    margin-left: 5px;
    display: inline-block;
    padding-top: 10px;
}


.titles {
    color: #9d9d9d;
    padding-bottom: 5px;
   font-size: 12px;
}

.scroll {
    overflow-x: scroll;
    overflow-y: hidden;
}

.draft {
	width: 38%;
}

.juci_xlist_item {
    background: #fff;
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 1px;
}

.juci_vertical_list .juci_xlist_pane {
    background: none;
    margin-top: -43px;
}

.green {
	color:#77A543;
	font-weight: bold;
}

.blue {
	color:#2C93DE;
	font-weight: bold;
}

.red {
	color:#D04949;
}

.juci_vertical_list {
    margin: 20px auto;
    width: 98%;
    margin-top: 34px;
    margin-bottom: 20px;
}

img.flag {
    margin-left: 6px;
    display: inline-block;
}

.heading {
    display: block;
    padding: 5px;
}

.incell {
    padding-bottom: 5px;
}

.green {
	color: #339933;
}

.red {
	color:#D04949;
}

.application1 {
	margin-top: 2px;
    
}

.toggled span.pending {
	color: #0B4DA1;
}
.toggled span.approved {
	color: #0B4DA1;
}
.toggled span.rejected {
	color: #0B4DA1;
}
.toggled span.inprocess {
	color: #0B4DA1;
}

.toggled span.all {
	color: #0B4DA1;
}

.juci_xlist_item.touch {
    background: #fff;
    color: #3B3B3B;
}

.nxtcell {
    font-size: 14px;
    padding-bottom: 3px;
}


.head {
    width: 45%;
    padding-bottom: 10px;
    margin-left: 8px;
    display: inline-block;
    padding-top: 10px;
    vertical-align: top;
}


span.notifctn {
    padding-top: 20px;
    color: #565656;
    display: block;
    font-size: 10pt;
}

div#tgl {
    margin: 0px;
    height: 115px;
    -webkit-transform: translate3d(0, 0, 0);
    background: #fff;
    width:100%
}

button.juci_button.btn1 {
	height: 98px;
    width: 30%;
    font-size: 12pt;
    vertical-align: middle;
    background: #fff;
   border:none;
}

.juci_togglebar .juci_button{
	border:none;
}
button.juci_button.btn {
	height: 98px;
    width: 30%;
    font-size: 12pt;
    vertical-align: middle;
    background: #fff;
   border-right: 2px solid #cecece;
    border-right-style: dotted;
       
}

.show {
	text-align: center;
    padding: 4px;
    border-top: 1px solid #d8d8d8;
    color: #565656;
    background-color: #f8f8f8;
    margin-top: 10px;
    height: 20px;
    width: 98%;
}
.showing {
	color: #0B4DAA;
    text-decoration: none;
    cursor: pointer;
}

.less {
	display:none;
}

.searchby {
	position: relative;
    display: inline-block;
    padding: 6px 15px;
    color: #9d9d9d;
    width: 23%;
    border-left-width: thin;
}
.searchbydraft {
	position: relative;
    display: inline-block;
    padding: 6px 15px;
    color: #9d9d9d;
    width: 36%;
    border-left-width: thin;
}
.sort {
	position: relative;
    display: inline-block;
    padding: 6px 15px;
    color: #9d9d9d;
    width: 22%;
    border-left-style: groove;
    height: 11px;
    border-left-width: thin;
}
.sortdraft {
	position: relative;
    display: inline-block;
    padding: 6px 15px;
    color: #9d9d9d;
    width: 22%;
    border-left-style: groove;
    height: 11px;
    border-left-width: thin;
}

.filter {
	position: relative;
    display: inline-block;
    padding: 6px 15px;
    color: #9d9d9d;
    width: 16%;
    border-left-style: groove;
    height: 11px;
    border-left-width: thin;
}

.bar {
    width: 100%;
    margin-top: 0px;
}

.elements {
	width:0%;
	display:inline-block;
	vertical-align: top;
    margin-left: 5px;
}

.search {
    width: 32%;
    font-size: 12px;
    background: #ebebeb;
    min-height: 30px;
    display: inline-block;
    color: #9d9d9d;
    border: none;
    border-right: 1px solid #d4cdcd;
}
div#selfiltr {
    background: #fff;
}

div#sortfiltr {
    background: #fff;
}
div#searchfiltr {
    background: #fff;
}
.fltroption {
	border:none;
	margin-top:0px;
	margin-bottom: 0px;
}
.searchoption {
	border:none;
	margin-top:0px;
	margin-bottom: 0px;
}
.sortoption .juci_ctrl_label {
    font-size: 12px;
}
.juci_basecontrol.juci_selectbox.sortoption1 {
    margin: 0px;
    width: 46%;
    display: inline-block;
    margin-left: 8px;
    height: 20px;
    border: none;
}
.juci_basecontrol.juci_selectbox.sortoption2 {
    margin: 0px;
    width: 46%;
    display: inline-block;
    margin-left: 8px;
    height: 20px;
    border: none;
      border-left: 1px solid #ddd;
    border-width: thin;
}
.juci_basecontrol.juci_selectbox.searchoption {
    margin: 0px;
    width: 46%;
    display: inline-block;
    margin-left: 8px;
    height: 20px;
    border: none;
  
}


button.juci_button.btn2 {
    height: 27px;
    width: 32%;
    font-size: 9pt;
    vertical-align: middle;
    background: #0b4daa;
    border: none;
    margin-top: 17px;
    color: white;
}

.data {
    width: 100%;
}

	
.box {
	display:inline-block;
}
.box1 {
	display:inline-block;
}
.innerbox {
	display:none;
}
.resum {
    display: inline-block;
    width: 100%;
}
.restart {
    width: 78px;
    padding: 10px;
    display: inline-block;
}
.delete {
	width: 78px;
    padding: 10px;
	display: inline-block;
}
.email {
	width: 78px;
    padding: 10px;
	display: inline-block;
}
.call {
	width: 78px;
    padding: 10px;
	display: inline-block;
}
.sms {
	width: 78px;
    padding: 10px;
	display: inline-block;
}

button.juci_button.resume {
    background: #FFF;
    color: #0B4DA1;
    border: solid 1px #0B4DA1;
    border-radius: 3px;
    min-height: 30px !important;
    width: 85%;
    font-size: 8pt;
}

.track{
	vertical-align: middle;
}

button.juci_button.resume1 {
    background: #FFF;
    color: #0B4DA1;
    border: solid 1px #0B4DA1;
    border-radius: 3px;
    min-height: 30px !important;
    width: 109%;
    font-size: 8pt;
}
.listmenu {
	float:right;
	border-left-style:groove;
	border-left-width:thin;
}
.listmenu img {
    height: 12px;
    margin-right: 7px;
}

/*.juci_linker {
	display:none;
}*/

.sidemenu {
    width: 15px;
    display: inline-block;
    float: right;
    margin-right: 8px;
}

img.vertical {
    border-left-width: thin;
    border-left-style: groove;
    border-left: 1px solid #d8d8d8;
}
/*
.juci_linker {
    background-image: url('../img/dots-three-vertical.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    border-left-style: groove;
    border-left-width: thin;
} */

.searchoption.juci_selectbox .juci_linker {
  
    background-image: url("../images/down_arrow.png");
    height: 30px;

}

 .juci_selectbox .juci_linker {
  
    background-image: url("../images/down_arrow.png");
    height: 39px;

}
.searchoption.juci_searchbox {  
    background: white;
    border-radius: 0px;
    /* -webkit-border-radius: 15px;
    border-style: groove;
    min-height: 10px;
    border: 2px solid transparent; */
    display: inline-block;
    width: 45%;
    font-size: 12px;
    border: 1px solid #ccc;
}

.show {
	text-align: center;
	padding: 6px;
	border-top: 1px solid #d8d8d8;
	color: #0B4DAA;
	background-color: #f8f8f8;
	margin-top: 0px;
	height: 18px;
	/* color: #565656; */
}

.showItem{
	text-align: center;
	padding: 6px;
	color: #0B4DAA;
	background-color: #f8f8f8;
	margin-top: 0px;
	height: 18px;
	/* color: #565656; */
}

.new {
    color: #9d9d9d;
    font-size: 11px;
    padding-top: 13px;
}
.new_item {
    color: #77A543;
}

.less {
	padding-bottom: 10px;
}

.pendingbox {
    background: rgb(255,255,255);
    width: 32%;
    height: 190px;
    float: right;
    position: absolute;
    right: 20px;
    top: 32px;
    border: 1px solid #E6E6E6;
    z-index: 1;
}

.email {
	width: 78px;
    padding: 10px;
	display: inline-block;
}
.call {
	width: 78px;
    padding: 10px;
	display: inline-block;
}
.sms {
	width: 78px;
    padding: 10px;
	display: inline-block;
}

span.pending {
	font-size: 50px;
    display: block;
    color: #9D9D9D;
}

/*.pendingbox{
	width:18% !important;
}*/
.searchoption .juci_ctrl_box.juci_selectbox_box {
    border: 1px solid #ccc;
    height: 30px;
    margin-top: -10px;
}

.display {
	background:#fff;
	padding-top: 6px;
}
.juci_selectbox_box {
    padding: 0px 4px 0px 7px;
    line-height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    border-bottom-style: groove;
    border-width: thin;
}
.juci_xlist_search .juci_searcher input {
    font-size: 12px;
    padding: 0px 4px 0px 4px;
    border: 1px solid #ccc;
    height: 28px;
    width: 106%;
    margin-left: 17%;
}
.juci_searchbox_close {
    display: none;
}
.juci_searchbox .juci_searchbox_glass {
    display: none;
}

.searchoption.juci_ctrl_label {
    color: #9C9C9C;
    display: none;
}
.juci_xlist_item:first-child {
    border-radius: 0;
    margin-top: 8px;
      /*  border-top: 8px solid #f1f1f1;*/
}


.nodel{
	height:125px;
}

::-webkit-scrollbar {
  /* background: #695a5a; */
  overflow: visible;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border: solid rgba(189, 186, 186, 0.92);
}

::-webkit-scrollbar-thumb:hover {
  /* background: rgba(0, 0, 0, 0.8); */
}

::-webkit-scrollbar-thumb:horizontal {
  border-width: 4px 6px;
  min-width: 5px;
}

::-webkit-scrollbar-thumb:vertical {
  border-width: 6px 4px;
  min-height: 10px;
}

::-webkit-scrollbar-track-piece {
 
}

::-webkit-scrollbar-corner {
  /* background: transparent; */
}

::-webkit-scrollbar-thumb {
  background-color: #ADADAD;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
}

::-webkit-scrollbar-thumb:hover {
  /* background-color: #999; */
}

.juci_basecontrol.juci_datepicker.juci_not_rounded.juci_parent {
    border: none;
    border-bottom: 1px solid #ccc;
    width: 50%;
    display: inline-block;
}

div#dateranger {
    margin-top: 0px;
}

#dateranger label.juci_label_text {
    font-size: 12px;
}

#dateranger .juci_datepicker_box {
    font-size: 12px;
}

.juci_xlist_search.juci_searchbox {
    width: 50%;
    display: inline-block;
    position: relative;
    left: 39%;
    bottom: 15px;
    border-bottom: none;
}

.draft {
	color:#70A1DE;
}
.juci_vertical_list .juci_flag_drawer > * {
    margin-top: 5px;
    display: none;
}

.synced {
    font-weight: bold;
    color: #70A1DE;
}

.select_box.sortoption1 {
    width: 49%;
    display: inline-block;
}


.select2-container--default {
    width: 100% !important;
}

.select2-container--default {
    width: 100% !important;
}

.select_box.sortoption {
    width: 49%;
    display: inline-block;
    border-right: 1px solid #c1bdbd;
}

.juci_ctrl_label {
    display: none;
}

.juci_basecontrol.juci_datepicker {
    margin-top: 0px;
}

.custome_text {
    margin: 0px;
    min-height: 20px;
    width: 100%;
}

.date_range .juci_linker{
	display:none;
}

.nobrd {
	border:none;
}
