div#toogle {
    width: 98%;
    background: #fff;
    width: 100%;
    margin: 0px;
    height: 100px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.heading {
    margin: 5px !important;
}

.upload.View {
    width: 52%;
    margin-left: 150px;
    margin-bottom: 8px;
    /* float: right; */
    text-align: center;
    /* margin-top: 15%; */
}

.filter_scroll_bar {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}


.heading.date {
    color: #9d9d9d;
    font-size: 11px;
}

.app_count {
    display: inline-block;
    margin-left: 29px;
}

div#renewal-count {
    margin-left: 5%;
}
.title {
    font-size: 12px;
    color: #565656;
}

.juci_togglebar .juci_button{
	margin: 0px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	border-width: 0px;

	margin-left: -1px;
}
button.juci_button.btn1 {
    height: 100px;
    width: 33%;
    font-size: 12pt;
    vertical-align: top;
    margin-top: 14px;
    background: #fff;
    border: none;
}

button.juci_button.btn2 {
    height: 100px;
    width: 33%;
    font-size: 12pt;
    vertical-align: top;
    margin-top: 14px;
    background: #fff;
    border-right:2px dotted #cecece;
}

div#super-count {
    display: table;
}


button.juci_button.btn {
    height: 100px;
    width: 33%;
    font-size: 12pt;
    vertical-align: top;
    margin-top: 14px;
    background: #fff;
    /*border-right:2px solid #cecece;
    border-style:dotted;*/
}


.juci_selectbox_box {
    padding: 0px 4px 0px 7px;
    line-height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    border-bottom-style: groove;
    border-width: thin;
}

.juci_selectbox .juci_linker {
    background-image: url("../images/down_arrow.png");
    height: 39px;

}

.juci_vertical_list .juci_flag_drawer > * {
    margin-top: 5px;
    display: none;
}

.juci_togglebar .juci_button.toggled {
    background: #fff;
    border-bottom: 4px solid #0B4DA1;
}

.alerts {
 /*   font-size: 45px;
    color: #9D9D9D;
    text-align: center;*/
    margin-top: -17px;
}

span.notif {
	font-size: 40px;
    display: block;
    color: #9D9D9D;
}

span.notifctn {
	padding-top: 20px;
	color:#565656;
	display: block;
}

.toggled span.notif {
    color: #0B4DA1;
}

.red {
	color:#D04949;
}

.grey {
	color:#179e7e;
}
/*
button.juci_button.toglebtn {
    width: 30%;
    font-size: 10pt;
    min-height: 37px;
    border: 1px solid rgb(206, 206, 206);
    background: #fff;
    margin-top: 15px;
}

button.juci_button.toglebtn.toggled {
    background: #0b4da1;
    border-color: #0b4da1;
} */

.flagcheckbox{
	float:left;
	border:solid 1px #cecece;
	padding:9px 20px;
	margin: 10px 20px 20px 0px;
	border-radius:3px;
	width: 80px;
    height: 18px;
    margin-left:7px;
    text-align: left;
 }
	
label {
	display: inline-block;
	font-weight: 400;
	margin: 0px;
	color: #9d9d9d;
}

.custom-checkbox.selected {
    background-position: -36px 0px;
}

input[type="checkbox"] {
	width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;
    z-index: 1;
    background: transparent url("../img/Checkbox_Sprite.png") no-repeat;
    vertical-align: middle;
    background-position: 0px 0px;
    margin-right: 6px;
    float: left;
    margin-left: 0px;
}

.custom-checkbox {
    width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;
    z-index: 1;
    background: transparent url("../img/Checkbox_Sprite.png") no-repeat;
    vertical-align: middle;
    background-position: 0px 0px;
    margin-right: 6px;
}
.custom-checkbox input[type="checkbox"]{
	margin: 0;
	position: absolute;
	z-index: 2;            
	cursor: pointer;
	outline: none;
	opacity: 0;
}

.crf-enableflag {
    width: 12px;
    height: 17px;
    background: transparent url("../img/Flag.png") no-repeat scroll 0% 0%;
    display: inline-block;
    margin: 0px 4px;
    vertical-align: sub;
}

.row {
    border-bottom: #f2f2f2 1px solid;
    margin-left: 10px;
}

.list_row{
	margin-left: 10px;
	margin-bottom: 18px;
	}
	
.cell {
    padding-bottom: 5px;
}

.sidemenu {
    width: 15px;
    display: inline-block;
    float: right;
    margin-right: 8px;
}

img.vertical {
    border-left-width: thin;
    border-left-style: groove;
}

.bold {
	font-weight:bold;
	color: #565656;
    font-size: 14px;
    font-family: Helvetica;
}

/*.juci_linker {
    display: none;
}*/

.heading {
    width: 40%;
    display: inline-block;
    padding: 6px;
    margin-left: 5px;
}

.titles {
    color: #9d9d9d;
    padding-bottom: 5px;
    font-size: 12px;
   
}

.view {
    background: #fff;
    color: #0B4DA1;
    border-color: #0B4DA1;
    border-radius: 2px;
    font-size: 12px;
    border-style: solid;
    border-width: thin;
    min-height: 28px;
    margin-left: 6%;
}

.juci_xlist_item {
    background: #fff;
    margin-bottom: 10px;
    padding-bottom: 0px;
}

.flag {
    margin-left: 15px;
    display: inline-block;
}

.juci_vertical_list .juci_xlist_pane {
    background: none;
}

.juci_xlist_item.touch {
    background: #fff;
    color: #3B3B3B;
}

.incell {
    padding-bottom: 5px;
}

body {
    background: #ebebeb;
}

.upload {
    width: 45%;
    margin-left: 5px;
    display: inline-block;
}

div#today {
    margin-top: 0px;
}


.filters {
    width: 100%;
    display: table;
    position: relative;
    /* top: 49px; */
    table-layout: fixed;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12) !important;
}

.cfr_notifications{
	width:100%;
	margin-left:5%
}

.search {
    width: 33%;
    font-size: 14px;
    background: #ebebeb;
    min-height: 30px;
    display:inline-block;
    color: #9d9d9d;
    border: none;
    border-right: 1px solid #d0cdcd;
}

.cfr_count{
	width: 32%;
    background: #ebebeb;
    min-height: 30px;
    display:inline-block;
    color: #333333;
    font-size: 14px;
    border: none;
	/* text-align: center; */
	vertical-align: middle;
	margin-top: 10px;
}


.juci_xlist_item {
    background: #fff;
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 1px;
}



.view_All{
	width: 40%;
    background: #ebebeb;
    min-height: 30px;
    display: inline-block;
    color: #333333;
    font-size: 14px;
    border: none;
}

.juci_vertical_list{
	margin: 20px 5px 20px 5px;
	width: 94%;
	margin-top: 0px;
	margin: auto;
    margin-bottom: 25px;
}

.juci_panel.panel_shown {
   overflow: hidden;
}

button.juci_button.view_All {
    color: #0B4DAA;
}

.juci_ctrl_box.juci_selectbox_box {
    border-bottom: 1px solid #ccc;
}

.fltroption {
	border:none;
	margin-top:0px;
	margin-bottom: 0px;
}

div#selfiltr {
    background: #fff;
}

div#sortfiltr {
    background: #fff;
    padding-top: 6px;
}

.juci_basecontrol.juci_selectbox.sortoption {
    margin: 0px;
    width: 46%;
    display: inline-block;
    margin-left: 8px;
    height: 20px;
    border: none;
}

.elements {
	width:0%;
	display:inline-block;
	vertical-align: top;
    margin-left: 5px;
}

.sortoption .juci_ctrl_label {
    font-size: 12px;
}

.juci_thinbar {
    height: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    color: #0B4DAA;
}

div#remove {
    margin-top: 10px;
}

.com {
	display:inline-block;
}

.nobrd {
	border:none;
}

.green {
	color:#77A543;
	font-weight: bold;
}

.blue {
	color:#2C93DE;
	font-weight: bold;
}

.show {
	text-align: center;
	padding: 6px;
	border-top: 1px solid #d8d8d8;
	color: #0B4DAA;
	background-color: #f8f8f8;
	margin-top: 0px;
	height: 18px;
	/* color: #565656; */
}

.showItem{
	text-align: center;
	padding: 6px;
	color: #0B4DAA;
	background-color: #f8f8f8;
	margin-top: 0px;
	height: 18px;
	/* color: #565656; */
}

.new {
    color: #9d9d9d;
    font-size: 11px;
    padding-top: 13px;
}
.new_item {
    color: #77A543;
}

.less {
	padding-bottom: 10px;
}

.pendingbox {
    background: rgb(255,255,255);
    width: 32%;
    height: 119px;
    float: right;
    position: absolute;
    right: 20px;
    top: 32px;
    border: 1px solid #E6E6E6;
    z-index: 1;
}

.email {
	width: 78px;
    padding: 10px;
	display: inline-block;
}
.call {
	width: 78px;
    padding: 10px;
	display: inline-block;
}
.sms {
	width: 78px;
    padding: 10px;
	display: inline-block;
}

span.pending {
	font-size: 50px;
    display: block;
    color: #9D9D9D;
}

.pendingbox {
    width: 27% !important;
}

/*.juci_panel.panel_shown {
    overflow: hidden;
}*/

@media screen and (min-width:600px), screen\0 { 
.heading {
    display: inline-block;
    padding: 12px;
    width:40%;
}

}

@media screen and (min-width:655px), screen\0 { 
.upload {
    width: 20%; 
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}	
	
}


.filter_scroll {
    /* position: fixed; */
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.stick {
    position: fixed;
    z-index: 3;
    top: 48px;
}

button.juci_button.search {
    vertical-align: top;
}

.filters {
    margin: auto;
}

.select2-container--default {
    width: 100% !important;
    padding-top: 2px;
}

span#select2-filterList-container {
    background: #FFF;
    font-size: 15px;
}

.select_box.sortoption {
    width: 49%;
    display: inline-block;
    border-right: 1px solid #dedada
}

.select_box.sortoption1 {
    width: 49%;
    display: inline-block;
}
::-webkit-scrollbar {
  /* background: #695a5a; */
  overflow: visible;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border: solid rgba(189, 186, 186, 0.92);
}

::-webkit-scrollbar-thumb:hover {
  /* background: rgba(0, 0, 0, 0.8); */
}

::-webkit-scrollbar-thumb:horizontal {
  border-width: 4px 6px;
  min-width: 5px;
}

::-webkit-scrollbar-thumb:vertical {
  border-width: 6px 4px;
  min-height: 10px;
}

::-webkit-scrollbar-track-piece {
 
}

::-webkit-scrollbar-corner {
  /* background: transparent; */
}

::-webkit-scrollbar-thumb {
  background-color: #ADADAD;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
}

::-webkit-scrollbar-thumb:hover {
  /* background-color: #999; */
}

/*Cfr notification*/
.super_counts{
	display:table;
	width: 100%;
}

.super_count{
	display:table-cell;	
}

.view_Super_All{
	display: table-cell;
    background: #ebebeb;
    min-height: 30px;
    color: #0b4daa;
    font-size: 14px;
    border: none;
}