.juci_switch2_scroller > *{
	color: #FAFAFA;
	text-shadow: 0px 1px #AAA;
	border-color: rgb(214, 214, 214);
}
.juci_switch2_thumb{
	background: -webkit-linear-gradient(top, #FFF, #F7f7f7);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(90%,#F7f7f7));
	background: -moz-linear-gradient(top, #FFF, #F7f7f7);
	background: -o-linear-gradient(top, #FFF, #F7f7f7);
	background: -ms-linear-gradient(top, #FFF, #F7f7f7);
	background: linear-gradient(top, #FFF, #F7f7f7);
	background-color: #fff;
}

.juci_switch2{
	background:none;
	border-color:#CECECE;
	color:#343434;
}

.juci_switch2_thumb{
	background:#4B8DF7;
	border-color:#f7f7f7;
	color:#f7f7f7;
}

.juci_switch2.touch{
	border-color:#3F65DB;
	background:#3F65DB;
	color:#f7f7f7;
}