.langb.toggled {
    background: #0B4DA1 !important;
    color: #fff !important;
}

.b1.toggled {
    background: #0B4DA1 !important;
    color: #fff !important;
}

.b2.toggled {
    background: #0B4DA1 !important;
    color: #fff !important;
}
div#juci_dobpick_panel {
    height: 583px;
}