button.juci_button.btn1 {
    width:42%;
    background: #fff;
    border: none;
    padding-bottom: 8px;
}

span.prop {
    font-size: 12pt;
    display: inline-block;
}

span.cont {
    padding-right: 8px;
    font-size: 50px;
    text-align: left;
    display: inline-block;
    color: #9D9D9D;
}

.toggled span.cont {
    color: #0B4DA1;
}

.toglediv{
	overflow-y:hidden;
	margin: 0px;
}

.juci_togglebar .juci_button.toggled {
  	background: #fff;
    color: #565656;
} 

.juci_togglebar .gender {

} 

button.btn1.toggled {
	background: #fff;
    border-bottom: 4px solid #0B4DA1;
    color: #565656;
}

.info {
    /* overflow: auto; */
}

.juci_title {
    font-size: 10pt;
    display: inline-block;
    width: 40%;
}

.juci_titl {
	font-size: 10pt;
}

div#toogle {
    
background: #fff;
    
margin-top: 0px;
    
padding-top: 8px;
    
width:100%;
    
margin-left: 0px;
    
padding-top: 0;
    
margin-top: -3px;
    
/* overflow: scroll; */
    
/* overflow-y: hidden; */
}

.propos {
    height: 100px;
    background: #fff;
    width: 95%;
    margin-left: 8px;
}

.life2assure {
    background: #fff;
    width: 95%;
    margin-left: 8px;
    margin-top: 20px;
    padding-bottom: 5px;
}

p.form-heading1 {
    margin: 15px;
    padding-top: 15px;
    font-weight: bold;
    color: #0B4DA1;
    font-size: 15px;
    border-bottom: 4px solid;
    width: 118px;
}

button.juci_button.submit {
    background: #0B4DA1;
    border-color: #0B4DA1;
    min-width: 90px;
    margin-top: 13px;
    margin-left: 20px;
    border: 1px solid transparent;
    border-radius: 2px;
    min-height: 36px;
    font-size: 14px;
}

.details {
    font-style: italic;
    color: #9d9d9d;
    margin: 25px;
    font-size: 14px;
}

p.label {
    color: #9d9d9d;
    font-size: 14px;
    margin-left: 25px;
}

.form-heading2 {
    width: 75%;
    color: #565656;
    line-height: 20px;
    margin-top: 2px;
    margin-bottom: 4px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: bold;
}

.juci_basecontrol.juci_text {
    border: none;
    width: 90%;
    margin: 12px auto;
}

input.juci_ctrl_box {
    border-bottom: 1px solid #ccc;
}



.juci_basecontrol.juci_selectbox {
    border: none;
    width: 90%;
     margin: 5px auto;
}

.juci_ctrl_box.juci_selectbox_box {
    border-bottom: 1px solid #ccc;
}

.juci_basecontrol.juci_datepicker.dob.juci_parent {
    border: none;
    width: 90%;
}

.juci_ctrl_box.juci_datepicker_box {
    border-bottom: 1px solid #ccc;
}

.juci_options_placeholder {
    display: none;
}

.gstText {
    font-size: 14px;
    font-family: Helvetica;
    width: 90%;
    margin-left: 15px;
    margin-right: 10px;
}

.btn {
    margin-top: 20px;
    background: #fff;
    width: 95%;
    margin-left: 7px;
    height: 70px;
    margin-bottom: 30px;
}

button.juci_button.save {
    background: #0B4DA1;
    border-color: #0B4DA1;
    font-size: 12px;
    min-height: 38px;
    border-radius: 4px;
    display: inline-block;
    float: right;
    margin-right: 15px;
    margin-top: 16px;
}

button.juci_button.lang_eng {
    background: #0B4DA1;
    border-color: #0B4DA1;
    width: 100%;
    font-size: 12px;
    min-height: 35px;
    float: right;
    margin-top: 5px;
}

button.juci_button.lang_telugu {
    background: #0037E6;
    border-color: #0037E6;
    font-size: 12px;
    width: 100%;
    min-height: 35px;
    float: right;
    margin-top: 5px;
}

button.juci_button.next_btn {
   background: #0037E6;
    border-color: #0037E6;
    font-size: 12px;
    width: 25%;
    margin: 5px;
    margin-bottom: 10px;
    min-height: 29px;
    float: right;
    margin-top: -6px;
}

button.juci_button.lang_marathi {
    background: #0037E6;
    border-color: #0037E6;
    font-size: 12px;
    width: 100%;
    min-height: 35px;
    float: right;
    margin-top: 5px;
}

button.juci_button.lang_hindi {
    background: #0037E6;
    border-color: #0037E6;
    font-size: 12px;
    width: 100%;
    min-height: 35px;
    float: right;
    margin-top: 5px;
}

button.juci_button.lang_tamil {
    background: #0037E6;
    border-color: #0037E6;
    font-size: 12px;
    width: 100%;
    min-height: 35px;
    float: right;
    margin-top: 5px;
}

button.juci_button.next_cls {
    background: #0B4DA1;
    border-color: #0B4DA1;
    font-size: 12px;
    width: 35%;
    min-height: 35px;
    float: right;
    margin-top: 5px;
    margin-right:5px;
    margin-top: 27px;
}

button.juci_button.no {
    background: #0B4DA1;
    border-color: #0B4DA1;
    font-size: 12px;
    width: 35%;
    min-height: 25px;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 4px;
}

button.juci_button.no.touch {
    background: #0B4DA1;
    border-color: #0B4DA1;
    font-size: 12px;
    width: 35%;
    min-height: 25px;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 4px;
    color:#FAB33F
}

button.juci_button.agree {
    background: #0B4DA1;
    border-color: #0B4DA1;
    font-size: 12px;
    width: 35%;
    min-height: 30px;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    margin-top: 20px;
    border-radius: 4px;
}

button.juci_button.agree.touch {
    background: #0B4DA1;
    border-color: #0B4DA1;
    font-size: 12px;
    width: 35%;
    min-height: 30px;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    margin-top: 20px;
    border-radius: 4px;
    color:#FAB33F
}

button.juci_button.ok_btn {
    background: #0B4DA1;
    border-color: #0B4DA1;
    font-size: 12px;
    width: 21%;
    min-height: 25px;
    margin-top: 5px;
    margin-right: 5px;
    margin-top: 20px;
}

button.juci_button.submit_btn {
    background: #0B4DA1;
    border-color: #0B4DA1;
    font-size: 12px;
    width: 25%;
    min-height: 30px;
}

.content {
    margin-left: 5px;
    padding-left: 5px;
    padding-top: 5px;
    color: #fff;
    font-family: sans-serif;
}

.selfievideo_content {
    margin: 10px;
    margin-top: 13px;
    padding: 5px;
    font-size: 14px;
    color: #0B4DA1;
}

div#languages {
    width: 35%;
    float: right;
    margin: 5px;
    padding: 5px;
}

.language_settings {
    width: 100%;
    float: right;
}

.video_content {
    height: 250px;
}

.prev {
    width: 40%;
    display: inline-block;
    margin-left: 20px;
    padding-top: 25px;
    color: #0B4DA1;
}

.gender {
    margin-left: 20px;
}

.form-group {
    margin-top: 10px;
    padding: 7px;
    line-height: 17px;
}

button.juci_button.resndotp {
    width: 92px;
    font-size: 13px;
    min-height: 35px;
    margin-left: 10px;
    background: #0B4DA1;
    border-color: #0B4DA1;
    border-radius: 4px;
}

button.juci_button.cancel {
    width: 90px;
    font-size: 13px;
    min-height: 35px;
    background: #9d9d9d;
    border-color: #9d9d9d;
    border-radius: 4px;
}

button.juci_button.submitotp {
    width: 90px;
    min-height: 35px;
    background: #0B4DA1;
    border-color: #0B4DA1;
    border-radius: 4px;
    font-size: 13px;
}

/* Css for language toogle */

div#lang {
	width: 90%;
	margin-top: 20px;
}

div#language {
	width: 90%;
	margin-top: 20px;
}

button.juci_button.langb {
	color: #0B4DAA;
	min-height: 34px;
	font-size: 14px;
	width: 30%;
	background: #fff;
}
			
div#english { 
	margin: 5px 20px 10px;
	width: 90%;
	font-size: 90%;
	color: #565656;
}

div#hindi { 
	margin: 5px 20px 10px;
	width: 90%;
	font-size: 90%;
	color: #565656;
}

div#tamil { 
	margin: 5px 20px 10px;
	width: 90%;
	font-size: 90%;
	color: #565656;
	font-family: 'Bamini', Verdana, Arial, sans-serif;
}

@font-face {
       src: local('Abel'),url('../resources/Bamini.ttf') format('truetype');
       unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


div#englishlang { 
	margin: 5px 20px 10px;
	width: 90%;
	font-size: 90%;
	color: #565656;
}

div#hindilang { 
	margin: 5px 20px 10px;
	width: 90%;
	font-size: 90%;
	color: #565656;
}

div#tamillang { 
	margin: 5px 20px 10px;
	width: 90%;
	font-size: 90%;
	color: #565656;
}

.agrement .juci_switch_label {
    line-height: normal;
    font-size: 13px;
    margin-top: 8px;
    width: 80%;
}

.consent {
	width: 85%;
}

/* Css for language toogle ending */

.juci_horizontal_bbar {
    padding-top: 15px !important;
}

.bankdetails_mandatory_label {
    margin-left: 18px;
    color: #9d9d9d;
}
/*
li.juci_check.juci_option {
    width: 40%;
    display: inline-block;
    background-image:url("../images/male.png");
    background-repeat: no-repeat;
    text-align: center;
}*/

.juci_option.selected {
background: #0b4da1;
color: #fff;
}

.adhar label.juci_label_text {
    color: #565656;
    font-weight: bold;
    font-size: 14px;
}

label.juci_label_text {
    color: #9d9d9d;
    font-weight: 400;
    font-size: 14px;
}

.juci_ctrl_box.juci_selectbox_box {
    font-size: 14px;
}
.gender_label {
	margin-left: 20px;
    padding-top: 7px;
}

div#uneditabledob {
    border: none;
}

.juci_basecontrol.juci_datepicker.appointeesdob.juci_parent {
    border: none;
}

/*
div#fhForm {
    background: #fff;
    width: 95%;
    margin-left: 8px;
} */


.heading_family{
	 overflow: hidden;
    width: 100%;
    height: 52px;
    text-align: left;
    vertical-align: middle;
    background: #0B4DA1;
    color: #fff;
    font-weight: bold;
    position: relative;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12) !important;
	
}
.dialog_header_family{
	
	padding: 18px 10px;;
    display:inline-block;
    font-size: 15px;

}

.exit {
    display: inline-block;
    float: right;
    padding: 21px;
}

.heading_otp{
		 overflow: hidden;
    width: 100%;
    height: 52px;
    text-align: left;
    vertical-align: middle;
    background: #0B4DA1;
    color: #fff;
    font-weight: bold;
    position: relative;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12) !important;
	
	
	}
	
	.juci_dialog {
	padding: 0px;
	border-color: #0B4DA1;
	/* position: absolute; */
	left: 3%;
	top: 65px;
	right: 4%;
	width: 93%;
	/* margin: auto; */
}
	

p.form-heading1.det {
    width: 155px;
}

p.form-heading1.appointe {
	width: 128px;
}

p.form-heading1.life {
	width: 137px;
}

div#firsthalf {
    color: #9d9d9d;
    font-weight: 400;
    font-size: 14px;
    padding-left: 15px;
    width: 88%; /* for life insurance details */
}

button.juci_button.addmember {
    background: none;
    color: #0B4DAA;
    border: none;
    font-size: 14px;
    margin-left: 18px;
}

button.juci_button.add {
    width: 90px;
    background: #0b4da1;
    border-color: #0b4da1;
    border-radius: 4px;
    min-height: 35px;
    font-size: 15px;
}

/*Family History Details*/
.juci_xlist_item.juci_xlist_item.familymemberdetails {
    border: 1px solid #CCC;
    margin-top: 10px;
    margin-left: 10px;
    width: 90%;
}

.familymemberdetails .juci_delete_icon {
   top: 127px;
    position: relative;
    margin-left: 8px;
}

.payment .juci_delete_icon {
   top: 127px;
    position: relative;
    margin-left: 8px;
}
.row {
    border-bottom: 1px solid #ccc;
    padding: 8px;
}

.cell {
    width: 49%;
    display: inline-block;
    vertical-align: middle;
    line-height: 15px;
    /* height: 18px; */
}

.bold {
	font-weight:bold;
}

.row.last {
    border-bottom: none;
    position: relative;
}

.juci_delete {
    position: relative;
}

.juci_delete_icon {
	background-image:url('../images/Delete_Blue.png');
	/*	position: absolute; commented for now */
	background-size: 21px;
	right: 80px;
	top: 116px;
}

/* Css for life Insurance Details */

.juci_xlist_item.juci_xlist_item.existingpolicydetails {
    border: 1px solid #CCC;
    margin-top: 10px;
    margin-left: 10px;
    width: 90%;
}

.companyname {
    margin-top: 15px;
    margin-bottom: 0px;
}

.contrtno, .basicsum, .sumassur, .riskdate, .pstats {
	margin-top:0px;
	margin-bottom:0px;
}

.existingpolicydetails .juci_delete_icon {
    top: 96px;
    position: relative;
    margin-left:8px;
}

p.form-heading1.insur {
    width: 238px;
}

.juci_basecontrol.juci_datepicker.juci_parent {
    border: none;
    width: 92%;
    padding-left: 4px;
}

p.form-heading1.detail {
    width: 152px;
}


.juci_selectbox_options_panel {
    background: #ccc;
}

/* Css for life style details */

p.form-heading1.style {
    width: 156px;
}

.ques-height {
    color: #ccc;
    margin-left: 15px;
    font-weight: 400;
    font-size: 14px;
}

/* Css for vernacular details */

p.form-heading1.ver {
    width: 130px;
}

p.form-heading1.dec {
    width: 165px;
}

/* Css for Declarations */

p.form-heading1.decl {
    width: 242px;
}

.display {
    font-size: 14px;
    font-family: Helvetica;
    width: 90%;
    margin-left: 15px;
    margin-right: 10px;
}

.eInsuranceFreeAccount {
    font-size: 14px;
    margin-left: 15px;
    margin-right: 10px;
}

.juci_check_box {
	height: 19px;
	width: 19px;
	border: 1px solid #0a0101;
	margin-right: 10px;
	margin-left: 2%;
	display: inline-block;
	vertical-align: middle;
	float: left;
	margin-top: 6px;
}

.juci_selectbox .juci_linker {
 
    background-image: url("../images/down_arrow.png");
    height: 39px;

}

.juci_switch_label {
	display: inline-block;
	vertical-align: middle;
	width: 75%;
	line-height: 48px;
}

.juci_basecontrol.juci_checkbox.juci_check {
    border: none;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #9d9d9d;
    font-weight: 400;
}

p.form-heading1.policy {
	width:256px;
}

p.form-heading1.rebate {
    width: 148px;
}

p.form-heading1.repos {
    width: 152px;
}

.blue {
	color:#0B4DAA;
	margin-left: 14px;
}

/* Confidential Rreport Css */
p.form-heading1.conf {
    width: 148px;
}

.ques-long {
	color:#9d9d9d;
	margin-left: 15px;
    font-weight: 400;
    font-size: 14px;
}

/* Css for prepayment review */
p.form-heading1.assu {
	width: 145px;
	display: inline-block;	
}

p.form-heading1.prop {
	width: 120px;
	display: inline-block;	
}

p.form-heading1.appon {
	width: 192px;
	display: inline-block;	
}

p.form-heading1.plandet {
	width: 85px;
	display: inline-block;	
}

p.form-heading1.premdet {
	width: 115px;
	display: inline-block;	
}

p.form-heading1.othdet {
	width: 95px;
	display: inline-block;	
}

.lifeassuredetails {
    background: #fff;
    width: 92%;
    margin-left: 2px;
}

.assuredetails {
   	width: 100%;
    padding-top: 0px;
    margin-left: 5px;
}

.firstreview {
    background: #fff;
    width: 92%;
    margin-left: 14px;
}

p.edit {
    display: inline-block;
    color: #0B4DA1;
    width: 25px;
    float: right;
    position: relative;
    top: 32px;
    right: 15px;
    font-size: 14px;
}

.secondreview {
    background: #fff;
    width: 92%;
    margin-left: 14px;
    margin-top: 15px;
}

.thirdreview {
    background: #fff;
    width: 92%;
    margin-left: 14px;
    margin-top: 15px;
}

.fourthreview {
    background: #fff;
    width: 92%;
    margin-left: 14px;
    margin-top: 15px;
}

.fifthreview {
    background: #fff;
    width: 92%;
    margin-left: 14px;
    margin-top: 15px;
}

.sixthreview {
    background: #fff;
    width: 92%;
    margin-left: 14px;
    margin-top: 15px;
}

/* Css for payment option */

.collapse.payment {
    background: #fff;
}

p.form-heading1.pay {
    margin-top: 0px;
    display: inline-block;
}

p.adpaydet {
    text-align: center;
    color: #0B4DA1;
    margin-top: 15px;
    padding-top: 15px;
}

.noborder input.juci_ctrl_box {
    border: none;
}

.juci_basecontrol.juci_text.noborder {
    margin-top: 0px;
    margin-bottom: 0px;
}

#offline-split .juci_xlist_item {
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

#offline-split .juci_delete_icon {
    position: absolute;
    top: 30px;
    right: 78%;
}

.juci_display_container {
    padding-left: 3px;
}

.paybtn {
    display: inline-block;
    width: 100%;
}

#offline-split .juci_linker{
	display:none;
	
}

button.juci_button.paynow {
    float: right;
    background: #79BE46;
    border-color: #79BE46;
    border-radius: 2px;
    /* min-width: 90px; */
    width: 80px;
    min-height: 35px;
    font-size: 14px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px
}

button#addpayment {
    display: block;
    background: #79BE46;
    border-color: #79BE46;
    border-radius: 2px;
    width: 30%;
    min-height: 35px;
    margin-left: 60px;
    margin-top: 20px;
}

.juci_form.payment
{
    background: #fff;
    width: 95%;
    margin-left: 10px;
}

button.juci_button.savepayment {
    background: #79BE46;
    border-color: #79BE46;
    border-radius: 2px;
    width: 40%;
    min-height: 40px;
    float: right;
}

button.juci_button.cancelpayment {
    background: rgb(157, 157, 157);
    border: rgb(157, 157, 157);
    border-radius: 2px;
    width: 40%;
    min-height: 40px;
    margin-left: 50px;
}

div#installment-premium {
    border: none;
}

p.enteremail {
    padding: 18px;
    font-size: 14px;
}
/* online payment option css */

.juci_title.juci_fixed_table {
    border-bottom: 1px solid #ccc;
    width: 100%;
}

/* Documents Upload */

.juci_basecontrol.juci_searchbox {
    background: #fff;
}

.collapse.proof {
    background: #fff;
    width: 100%;
    padding-top: 10px;
    display: inline-block;
}

.cross {
    border-bottom-style: groove;
    border-left-style: groove;
    border-right-style: groove;
    border-top-style: groove;
    background-color: #FDFDCB;
    border: 1px solid #FFB600;
    margin-left: 10px;
    margin-top: 13px;
    height: 40px;
    padding: 5px;
    border-radius: 3px;
    width: 91%
}

.dismiss {
    color: blue;
    float: right;
    margin-right: 12px;
    opacity: .2;
    margin-top: 10px;
    margin-right: 15px;
}

.juci_attachment .juci_horizontal_bbar{
	background: #fff;
}

.Nomtog.toggled{
	background: #0B4DA1 !important;
    color: #fff !important;
}

.juci_attachment .juci_button{
    background: #0B4DA1;
    border-color: #0B4DA1;
    min-height: 35px;
    width: 75px;
    border-radius: 4px;
}

.juci_attachment_item {
    display: inline-block;
}

.juci_attachment_thumb {
    display: inline-block;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.juci_attachment_name {
    display: inline-block;
    border-bottom: 1px solid #CCC;
    margin-left: 0px;
    padding-bottom: 10px;
    text-align: center;
}

.juci_attachment_delete {
    display: inline-block;
    margin-bottom: 15px;
    width: 100% !important;
}

ul.juci_xlist_pane.juci_attachment_listPane {
    border: 1px solid #CCC;
}

.juci_attachment_thumb > img {
    height: 70px;
    width: 70px;
}

div#laaddproof {
    margin-top: 0px;
}

#laaddproof .juci_ctrl_label {
    margin-top: 0px;
}

.photo {
    width: 94%;
    text-align: center;
    margin-top: 5px;
}

/*.mgnlft {
	margin-left:5px;
}*/

img.cell {
    height: 60px;
    width: 72px;
}

.pic {
	min-height: 38px !important;
}

.b1 {
	min-height: 30px;
	font-size: 14px;
	width: 88px;
	vertical-align: middle;
	background: #f7f7f7;
	border-color: #cecece;
	color: black;
	margin-right: -9px;
}
	.b2 {
	min-height: 30px;
	font-size: 14px;
	width: 88px;
	vertical-align: middle;
}
.addresslist .juci_delete_icon {
    top: 153px;
    position: relative;
    margin-left:0px;
}

.juci_xlist_item.juci_xlist_item.addresslist {
    border: 1px solid #CCC;
    margin-top: 10px;
    margin-left: 10px;
    width: 90%;
    padding: 0;
    margin-bottom: 10px;
}

.attchheading{
	padding: 10px;
    padding-bottom: 0px;
    color: #9d9d9d;
    font-size: 13px;
}

.juci_checkbox.touch{
	background:none;
	color:#444;
}

.juci_check_box{
	background-position: center;
	background-repeat: no-repeat;
	background-image:none;
	opacity: 0.2;
}
@media screen and (min-width: 600px) {
	
}

button.juci_button.b1.pic {
    background: none;
    color: #6E6E6E;
    border: 1px solid #AAA;
}

button.juci_button.b2.pic {
    background: none;
    color: #6E6E6E;
    border: 1px solid #AAA;
}

.juci_display{

	border: none;
}

.modal_body {
    overflow: scroll;
   /* height: 326px;*/
    overflow-x: hidden;
}

.juci_xlist_item.juci_xlist_item.familymemberdetails.juci_parent.touch {
    background: none;
    color: black;
}

img.delete {
    position: absolute;
    right: 37%;
    top: 8px;
    width: 20px;
    height: 20px;
}

.familymemberdetails .juci_linker {
    display: none;
}

@media only screen and (min-width: 550px) and (max-height:500px) {
	 .modal_body {
	    overflow: scroll;
	    height: 184px;
	    overflow-x: hidden;
	}
}

.app_num {
    font-size: 12px;
    float: right;
    padding-top: 2px;
}

.aadhar_info_name {
    width: 28%;
    height: 34px;
    border-right: 1px solid #d8d8d8;
    line-height: 31px;
    padding-left: 5px;
    display: inline-block;
    background: #f1f1f1;
    color: #565656;
    vertical-align: middle;
}

.aadhar_data {
    display: inline-block;
    height: 34px;
    line-height: 33px;
    /* width: 50%; */
    vertical-align: middle;
}

.aadhar_detail {
    display: block;
    border: 1px solid #d8d8d8;
    border-bottom: none;
    /* height: 34px; */
}

.Aadhar_section {
    width: 95%;
    margin: auto;
    margin-top: 13px;
}
.aadhar_detail_last{
	 display: block;
    border: 1px solid #d8d8d8;
    
	}
.adhar_heading {
    width: 100%;
    margin: auto;
    padding: 20px 0;
    font-size: 16px;
    font-weight: bold;
}

.aadhar_info_name_last {
    display: inline-block;
    width: 28%;
    height: 61px;
    padding-left: 5px;
    vertical-align: middle;
    line-height: 57px;
    background: #f1f1f1;
    border-right: 1px solid #d8d8d8;
    }

.aadhar_data_last {
    display: inline-block;
    height: 100%;
    line-height: 19px;
    width: 67%;
    vertical-align: middle;
    word-break: break-all;
}


.juci_xlist_item.juci_xlist_item.addresslist.juci_parent .juci_linker {
    display: none;
}

.collapse.section_color{
	background: #f3eaeaed;
    width: 100%;
    padding-top: 10px;
    display: inline-block;
	
}

.juci_timer,.juci_dobpick{
	background:none;
	color:#343434;
	height: 650px;
	background: #FFF;
}

.toggbutton {
    width: 90%;
    margin: auto;
}

.lead_code{
    height: auto;
    background: #fff;
    width: 95%;
    margin-left: 8px;
    padding-top: 1px;
}

.Aadhar_image_area {
    display: table;
    width: 95%;
    margin: auto;
    margin-top: 40px;
    vertical-align: middle;
    text-align: center;
}

.image_section {
}

button.juci_button.authenticationBtn {
    background: #f7f7f7;
    border: none;
    display: table-cell;
    width: 45%;
    font-size: 13px;
    margin: auto;
    vertical-align: middle;
    white-space: nowrap;
}

.juci_button.authenticationBtn.touch {
    background: #FAC671;
    border: none;
    color:white;
}

.content_body {
    height: 215px;
}

.icon_label {
    margin-top: 5px;
    color: #0B4DA1;
}

.aadhar_content {
    width: 100%;
    margin: auto;
    display: table;
    margin-top: 10px;
}

.aadhar_key {
    display: inline-block;
    margin: auto;
    padding-left: 10px;
    font-size: 15px;
    color: #0b4da1;
    vertical-align: middle;
}

.aadhar_value{
	display: inline-block;
	margin: auto;
	padding-left: 3px;
	font-size: 15px;
	color: #0b4da1;
	font-weight: bold;
	vertical-align: middle;
	}
	
span.value {
    font-weight: bolder;
    font-size: 16px;
}

.image_container {
    width: 80%;
    margin: auto;
    height: 204px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
}

.image_box {
    width: 99%;
    margin: auto;
    /* height: 98%; */
    border: 1px #0b4da1 solid;
    background: #fff;
    /* text-align: center; */
}

img.img_fingerprint {
    transform: rotate(270deg);
    vertical-align: middle;
}

.ques_parent {
    display: table;
}

.ques_ans {
    display: table-cell;
    font-weight: bold;
    color: #0B4DA1;
    margin: 5px;
    padding: 5px;
}

.authentication_section {
    width: 95%; 
    margin: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fff;
  
}

.authentication_text {
    color: #444;
    font-size: 15px;
    /* line-height: 18px; */
    background-color: #FDFDCB;
    border: 1px solid #FFB600;
    border-radius: 3px;
    padding: 5px;
}

.tog_img1{	
	content: url("../images/male.png");
	float: right;
	}
	
.toggled .tog_img1{
	content: url("../images/maleWhite.png");
	}
	
.tog_img2{
	content: url("../images/female.png");
	float: right;
	}
	
.toggled .tog_img2{
	content: url("../images/femaleWhte.png");	
	}
	
span.but_text {
    float: left;
    margin-left: -3px;
}

/*New Recruitment*/
.button_new {
    height: 70px;
    width: 100%;
    height: 70px;
}

button.juci_button.save_new {
	background: #0B4DA1;
    border-color: #0B4DA1;
    font-size: 12px;
    min-height: 38px;
    border-radius: 4px;
    display: inline-block;
    /* float: left; */
    min-width: 30%;
    margin: 0 auto;
    margin-left: 35%;
    min-height: 33px;
}

.type_of_doc {
	background: #FFF;
	margin: 10px;
	height: 75px;
}

.prev.juci_button {
    width: 40%;
    display: inline-block;
    margin-left: 20px;
    padding-top: 25px;
    color: #0B4DA1;
    background: #FFF;
    border-color: #FFF;
    min-height: 20px !important;
    font-size: 15px;
    float: left;
}

