table { 
		width: 94%; 
		border-collapse: collapse; 
		text-align:center;
		margin-top: 25px;
		clear: both;
	}
	/* Zebra striping */
	tr:nth-of-type(odd) { 
		background: #fff;  
	}
	
 
	th { 
		background: #f2f2f2; 
		color: #67798f; 
		font-weight: 400;  text-align:center; font-size:15px;   
	}
	td, th { 
		padding: 12px; 
		  color:#454545;     
		 
	}
	
	tr, th{ 
		background:#f2f2f2; border-right: 0px solid #e0e0e0; border-left: 0px solid #e0e0e0;  
	}
	
	tr, td { 
		border-right: 0px solid #e0e0e0;font-size:13px;     
	}
	
 
	.t1{ background:#00b0f0; color:#FFF; font-size:14px; font-weight:bold; padding:8px 0;  }
	
	.t1a{ text-align:left; }
	.red{ color: #F00;}
	
	/*
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
	@media
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 949px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		tr { border: 1px solid #ccc; }

		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

 
			td, th { 
		padding: 9px 6px 9px 50%; 
		  color:#67798f;     
		 
	}
		
	 
	}